<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-bottom bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">SystemSolaris</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isConnected()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Contas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/in" routerLinkActive="active">Mates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cfg" routerLinkActive="active">Config</a>
      </li>
    </ul>

    <span class="navbar-text">
      <a class="btn btn-primary btn-sm" (click)="logoff()">
        {{ userName }}
      </a>
    </span>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!isConnected()">
    <span class="navbar-text">
      <a class="btn btn-primary btn-sm" (click)="login()">
        Login
      </a>
    </span>
  </div>

</nav>

<div class="container-fluid" id="main-container">
  <router-outlet></router-outlet>
</div>
